# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
.idea/.gitignore
.idea/compiler.xml
.idea/dbnavigator.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
src/test/
